<!DOCTYPE HTML>
<html ng-app="videoListApp">
<head>

    <script src="../lib/angular.min.js"></script>
    <script src="../scripts/controller.js"></script>
    <link href="../styles/base.css" rel="stylesheet">

    <title>list</title>

</head>
<body ng-controller="VideoListCtrl">

Search: <input ng-model="query">


<div class="main" >
  <div id="waterfall" class="masonry" style="position: relative;">


<div class="item pull-left masonry-brick" style="position: absolute; top: 0px; left: 0px;" ng-repeat="video in videos | filter: query">
    <a href="video link" target="_blank"><img src="../videos/miad/miad-600/miad00600ps.jpg" class="img"></a>
    <div style="padding:16px 14px 16px 14px; background-color: #FAFAFA; border-top: 1px solid #F2F2F2;">
    <a href="video link" target="_blank">{{video.video_title}}</a> <i class="icon-fire icon-white" style="background-color:#cc0000"></i><br>
    <span style="color:#CC0000;font-size:12px;">{{video.video_code}}</span> / <span style="color:#CC0000;font-size:12px;">{{video.video_released}}</span>
    </div>
</div>

</div>
</div>

</body>
</html>
